body{
    color: white;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 00%, rgba(29,198,230,1) 100%);
}


img{
    width: 100%;
    height: 300px;
}

.animation1 {
    transition: 0.5s ease-in-out;
  }
  
  .animation1:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
    transition: 0.5s ease-in-out;
  }


  .animation2:hover {
   cursor: pointer;
    filter: grayscale(1);
  transition: 0.5s ease-in-out;
    
}

.animation3{
    filter: blur(4px);
    transition: 0.5s ease-in-out;
}

.animation3:hover{
    cursor: pointer;
    filter: blur(0);
  transition: 0.5s ease-in-out;
}

.animation4{

        filter: grayscale(1);
        transition: 0.5s ease-in-out;
      
}

.animation4:hover{
    cursor: pointer;
    transform: scale(1.2, 1.2);
    filter: grayscale(0);
    transition: 0.5s ease-in-out;
}

.animation5:hover{
  cursor: pointer;
  transform:skew(10deg) ;
  transition:1s ease-in ;
  -webkit-transform:skew(10deg) ;
  -moz-transform:skew(10deg) ;
  -ms-transform:skew(10deg) ;
  -o-transform:skew(10deg) ;
}

.animation6:hover{
   cursor: pointer;
   transform: rotateY(360deg);
   transition:3s ease-out ;
   border-radius: 10px;

}

.lds-dual-ring {

display: inline-block;
    margin-top: 30px;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  #btn--1{
    height: 40px;
    width: max-content;
    border-radius:10px ;
    border: transparent;
    
}

.container-p{
    margin: 100px auto;
    width: 100%;
    text-align: center;
  }
  
  .progress {
    padding: 0px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  }
  
  .progress-bar {
    height: 30px;
    border: 2px solid green;
    background-color: #c24d55;
    border-radius: 2px;
    transition: 0.4s linear;
    transition-property: width, background-color;
  }
  
  .progress-striped .progress-bar { 	
    background-color: #ab813a; 
    width: 100%; 
    background-image: linear-gradient(
           rgb(252,163,17) 25%, 
          transparent 25%, transparent 50%, 
          rgb(252,163,17) 50%, rgb(252,163,17) 75%,
          transparent 75%, transparent); 
    animation: progressAnimationStrike 6s;
  }
  
  @keyframes progressAnimationStrike {
       from { width: 0 }
       to   { width: 100% }
  }


  .element {
    height: 300px;
    width: 300px;
    background-color: red;
    animation: 
      pulse 3s ease infinite alternate, 
      nudge 5s linear infinite alternate;
    border-radius: 100%;
  }
  
  @keyframes pulse {
    0%, 100% {
      background-color: red;
    }
    50% {
      background-color: orange;
    }
  }
  
  @keyframes nudge {
    0%, 100% {
      transform: translate(0, 0);
    }
    
    50% {
      transform: translate(150px, 0);
    }
    
    80% {
      transform: translate(-150px, 0);
    }
  }
  
  .mainbox--1{
    margin-top: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  